﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/ContentCssBackpage")
    @Scripts.Render("~/bundles/modernizr")
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="~/Content/frontpage/images/favicon.ico">


</head>
<body>

    <div class="wrapper">
        <div class="sidebar" data-color="green" data-image="../../../Content/backpage/img/sidebar-4.jpg">
            <!--

                Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
                Tip 2: you can also add an image using data-image tag

            -->
            <div class="sidebar-wrapper">
                <div class="logo">
                    <a href="/Home/Index" class="simple-text">
                        EnglishSchool
                    </a>
                </div>
                <ul class="nav">
 
                    <li>
                        <a href="~/UserManager/EditProfile">
                            <i class="pe-7s-user"></i>
                            <p>Edycja Profilu</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/UserManager/ManageMyCourses">
                            <i class="pe-7s-note2"></i>
                            <p>Moje Kursy</p>
                        </a>
                    </li>
                    <li   class="active">
                        <a href="~/UserManager/ManageCourses">
                            <i class="pe-7s-notebook"></i>
                            <p>Oferta KURSÓW</p>
                        </a>
                    </li>
                    <li>
                        <a href="~/UserManager/ManagePayments">
                            <i class="pe-7s-cash"></i>
                            <p>Dane Finansowe</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <nav class="navbar navbar-default navbar-fixed">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand">STRONA STARTOWA</a>
                    </div>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-left"></ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

            <div class="content">
                @RenderBody()
            </div>

            <footer class="footer">
                <div class="container-fluid">
                    <nav class="pull-left">
                    </nav>
                    <p class="copyright pull-right">
                        Panel Użytkownika | &copy; 2016 <a href="">EnglishSchool</a>
                    </p>
                </div>
            </footer>
        </div>
    </div>





    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap/backpage")
    @RenderSection("scripts", required: false)
</body>
</html>
