﻿@model ProjektKCK.ViewModels.CourseViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/backpage/user/_LayoutManageCourses.cshtml";
}


<div class="container-fluid">
    <div class="row">
        @if (ViewBag.Success == 0)
            {
            <div class="alert alert-info">
                <strong>Informacja!</strong> Już wcześniej zapisałes się na ten kurs!.
            </div>
        }
        @if (ViewBag.Success == 1)
            {
            <div class="alert alert-success">
                <strong>Gratulacje!</strong> Zostałeś zapisany do kursu!.
            </div>
        }
        @if (ViewBag.Success == 2)
            {
            <div class="alert alert-warning">
                <strong>Uwaga!</strong> By dołączyć do kursu najpierw musisz uzupełnić swoje dane osobowe. Zakłądka "Edycja Profilu".
            </div>
        }
        @if (ViewBag.Success == 3)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że na tą chwilę wszystkie miejsca zostały już obsadzone.
            </div>
        }



        <div class="card">
            <div class="header">
                <h4 class="title">Dane na temat kursu</h4>
                <p class="category">Plan zajęć, dostępny wyłącznie dla zapisanych użytkowników.</p>
            </div>

            <div class="content">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Język</label>
                                <p class="form-control-static">@Model.Language</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Typ Kursu</label>
                                <p class="form-control-static">@Model.Type</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Prowadzący</label>
                                <p class="form-control-static">@Model.Teacher</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Data Dodania</label>
                                <p class="form-control-static">@Model.AddTime.ToString("MM/dd/yyyy")</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Koszt Kursu</label>
                                <p class="form-control-static">@Model.Cost PLN</p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Zajęte Miejsca</label>
                                <p class="form-control-static">@Model.SlotsTake / @Model.Slots</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Opis Kursu</label>
                                <p class="form-control-static">@Model.Description</p> 
                            </div>
                        </div>
                    </div>

                    <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                    <button type="submit" class="btn btn-success btn-fill pull-right">Zapisz Się!</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>
</div>
