﻿@model ProjektKCK.ViewModels.UserDataViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/backpage/user/_LayoutProfile.cshtml";
}



<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 class="title">Edycja Profilu</h4>
            </div>
            <div class="content">
                <form method="post">
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nazwa użytkownika</label>
                                <input type="text" name ="UserName"class="form-control" disabled placeholder="Nazwa uzytkownika" value=@Model.UserName>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Imie</label>
                                <input type="text" name="Name" class="form-control" placeholder="Imie" value=@Model.Name>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nazwisko</label>
                                <input type="text" name="Surname" class="form-control" placeholder="Nazwisko" value=@Model.Surname>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" name="Email" class="form-control" placeholder="Adres Email" value =@Model.Email>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label>Numer Telefonu</label>
                                <input type="text" class="form-control" name="PhoneNumber" placeholder="Numer telefonu" value=@Model.PhoneNumber>
                            </div>
                        </div>
                    </div>
                    <div class="row">

                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Adres</label>
                                <input type="text" name ="Address" class="form-control" placeholder="Address" value=@Model.Address>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Aktualizuj Profil</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>
</div>

