﻿@model PagedList.IPagedList<ProjektKCK.Models.PaymentModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/user/_LayoutManagePayments.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Ofera kursów</h4>
                        <p class="category">Tabela zawiera informacje na temat wszystkich dostępnych kursów.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>

                        <th>@Html.ActionLink("Klucz", "ManagePayments", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Cena </th>
                        <th>Kurs</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {
                                <tr>

                                    <td>@Html.DisplayFor(modelItem => item.PayKey)</td>
                                    <td> @Html.DisplayFor(modelItem => item.Money)</td>
                                    <td><a href="~/UserManager/CourseDetails/@item.CourseModel.Id" class="btn btn-success btn-fill  role="button">Sprawdź kurs</a></td>
                                </tr>

                                }
                        </tbody>
                       
                    </table>
                </div>
            </div>

            <p>
                


                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ManageCourses",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </p>
        </div>
    </div>
</div>

