﻿@model PagedList.IPagedList<ProjektKCK.Models.MyCourseModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/user/_LayoutManageMyCourses.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Ofera kursów</h4>
                        <p class="category">Tabela zawiera informacje na temat kursów w których bierzesz udział. By przejść do szczegółów danego kursu kliknij wiersz z wybranym przez siebie kursem.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>

                        <th>@Html.ActionLink("Język", "ManageMyCourses", new { sortOrder = ViewBag.ActiveSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th class="hidden-xs hidden-sm">Status</th> <th class="visible-xs visible-sm">Stat</th> 
                        <th class="hidden-xs hidden-sm">Zaliczenie</th> <th class="visible-xs visible-sm">Zal</th> 
                        <th class="hidden-xs hidden-sm">Opłacono</th> <th class="visible-xs visible-sm">Opł</th> 
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {
                               <tr onclick="window.document.location='MyCourseDetails/@item.Id'">

                                    <td>@Html.DisplayFor(modelItem => item.CourseModel.Language)</td>
                                    @if (item.CourseModel.Status){<td style="color:green">Trwa</td> }else {<td style="color:red">Zakonczono</td>}
                                    <td style="color:aqua">@Html.DisplayFor(modelItem => item.ZalStat)</td>
                                    @if (item.Payed)
                                    {
                                    <td style="color:green">Tak</td> }
                                    else
                                    {
                                    <td style="color:red">Nie</td>}

                                </tr>

                                }
                        </tbody>
                       
                    </table>
                </div>
            </div>

            <p>
                


                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ManageCourses",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </p>
        </div>
    </div>
</div>

