﻿@model PagedList.IPagedList<ProjektKCK.Models.CourseModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/user/_LayoutManageCourses.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Ofera kursów</h4>
                        <p class="category">Tabela zawiera informacje na temat wszystkich dostępnych kursów. By przejść do szczegółów danego kursu kliknij wiersz z wybranym przez siebie kursem.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>

                        <th>@Html.ActionLink("Język", "ManageCourses", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th class="hidden-xs hidden-sm">Typ Kursu</th>
                        <th class="hidden-xs hidden-sm">@Html.ActionLink("Data dodania", "ManageCourses", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Cena </th>
                        <th>Uczestnicy</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {
                                <tr onclick="window.document.location='CourseDetails/@item.Id'">

                                    <td>@Html.DisplayFor(modelItem => item.Language)</td>
                                    <td class="hidden-xs hidden-sm" >@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td class="hidden-xs hidden-sm">@Html.DisplayFor(modelItem => item.AddTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cost) PLN</td>
                                    <td>@item.CourseList.Count() / @item.Slots</td>
                                </tr>

                                }
                        </tbody>
                       
                    </table>
                </div>
            </div>

            <p>
                


                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ManageCourses",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </p>
        </div>
    </div>
</div>

