﻿@model ProjektKCK.ViewModels.MyCourseViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/backpage/user/_LayoutManageMyCourses.cshtml";
}


<div class="container-fluid">
    <div class="row">
        @if (ViewBag.Success == 0)
            {
            <div class="alert alert-info">
                <strong>Informacja!</strong> Już wcześniej zapisałes się na ten kurs!.
            </div>
        }
        @if (ViewBag.Success == 1)
            {
            <div class="alert alert-success">
                <strong>Gratulacje!</strong> Zostałeś zapisany do kursu!.
            </div>
        }
        @if (ViewBag.Success == 2)
            {
            <div class="alert alert-warning">
                <strong>Uwaga!</strong> By dołączyć do kursu najpierw musisz uzupełnić swoje dane osobowe. Zakłądka "Edycja Profilu".
            </div>
        }
        @if (ViewBag.Success == 3)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że na tą chwilę wszystkie miejsca zostały już obsadzone.
            </div>
        }

        @if (!Model.Payed)
            {
            <div class="alert alert-danger">
                <strong>Uwaga! Brak opłaty za kurs!</strong> By dokonać opłaty za kurs, wykonaj przelew z wykorzystaniem "KOD DO PŁATNOŚCI", który jest dostępny poniżej wraz z danymi osobowymi. Pamiętaj by zrobić to przed zakończeniem kursu!
            </div>
        }

        @if (Model.Recruitment == "Otwarta")
            {
            <div class="alert alert-info">
                <strong>Informacja!</strong> Ciągle masz czas na rezygnację z kursu, możliwość znikie gdy Rekrutacja zostanie zakończona!
            </div>
        }


        <div class="card">
            <div class="header">
                <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="title">Dane Ogólne</h4>
                <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
            </div>

            <div class="content panel-collapse collapse" id="collapse1">
                <div class="content table-responsive table-full-width">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Język</label>
                                    <p class="form-control-static">@Model.Language</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Typ Kursu</label>
                                    <p class="form-control-static">@Model.Type</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Prowadzący</label>
                                    <p class="form-control-static">@Model.Teacher</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Status kursu</label>
                                    <p class="form-control-static">@Model.Status</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Status rekrutacji</label>
                                    <p class="form-control-static">@Model.Recruitment</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Data Dodania</label>
                                    <p class="form-control-static">@Model.AddTime.ToString("MM/dd/yyyy")</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Koszt Kursu</label>
                                    <p class="form-control-static">@Model.Cost PLN</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Zajęte Miejsca</label>
                                    <p class="form-control-static">@Model.SlotsTake / @Model.Slots</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Zaliczenie</label>
                                    <p class="form-control-static">@Model.ZalStat</p>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Kod do płatności</label>
                                    <p class="form-control-static">@Model.PayKey</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label>Opis Kursu</label>
                                    <p class="form-control-static">@Model.Description</p>
                                </div>
                            </div>
                        </div>

                        <a href="../ManageMyCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                        <a href="../Resignation/@Model.Id" class="btn btn-warning btn-fill pull-right" role="button">Rezygnacja</a>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="title">Twoje Oceny</h4>
                <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
            </div>

            <div class="content panel-collapse collapse" id="collapse2">
                <div class="content table-responsive table-full-width">

                    <table class="table table-hover table-striped">
                        <thead>
                        <th>Ocena</th>
                        <th>Komentarz</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model.MyCourseModel.Grades)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Comment)</td>

                                </tr>

                            }
                        </tbody>

                    </table>

                </div>
                <a href="../ManageMyCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="card">
            <div class="header">
                <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="title">Plan zajęć</h4>
                <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
            </div>
            <div class="content panel-collapse collapse" id="collapse3">
                <div class="content table-responsive table-full-width">

                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Data Zajęć</th>
                        <th>Godzina</th>
                        <th>Czas trwania</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model.MyCourseModel.CourseModel.ActivitiesList)
                            {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateStartD)/
                                        @Html.DisplayFor(modelItem => item.DateStartM)/
                                        @Html.DisplayFor(modelItem => item.DateStartY)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TimeStartH):@Html.DisplayFor(modelItem => item.TimeStartM)
                                    </td>
                                    <td>@Html.DisplayFor(modelItem => item.Duration) min</td>

                                </tr>

                            }
                        </tbody>

                    </table>

                </div>
                <a href="../ManageMyCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                <div class="clearfix"></div>
            </div>

        </div>

        <div class="card">
            <div class="header">
                <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse4" class="title">Komentarz do Kursu</h4>
                <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
            </div>

            <div class="content panel-collapse collapse" id="collapse4">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="content table-responsive table-full-width">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Twoja Opinia na temat kursu(może zostać edytowana nieograniczoną ilość razy)</label>
                                    <textarea rows="4" name="comment" class="form-control" placeholder="Komentarz" value=@Model.Comment>@Model.Comment </textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Zatwierdź Zmiany</button>
                    <a href="../ManageMyCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>



  </div>
</div>