﻿@using ProjektKCK.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<section id="contact" >
    <div id="contact-us" class="parallax">
        <div class="container" >
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <h2>Logowanie</h2>
                    <p>Witaj! Życzymy miło spędzonego czasu, mamy nadzieję że znajdziesz informacje, które Cię interesują!</p>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-6">
                    @using (Html.BeginForm("Login", "Account", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })

                        <div class="form-group">
                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", @placeholder = "Nazwa użytkownika" })
                         </div>
                        <div class="form-group">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Hasło", @type = "password" })
                        </div>
                        <div class="form-group">
                            <button type="submit" value="Register" class="btn-submit">Zaloguj Się!</button>
                        </div>
                    }
                        </div>
                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> <span> Addres:</span> Rzeszów 123</li>
                                <li><i class="fa fa-phone"></i> <span> Telefon:</span> +123 123 123  </li>
                                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="#">test@test.com</a></li>
                                <li><i class="fa fa-globe"></i> <span> Strona internetowa:</span> <a href="#">projektkcktest.azurewebsites.net</a></li>



                                <li><a href="Register" class="btn btn-submit" role="button">Nie Masz konta? Zarejestruj Się!</a></li>

                                <li><a href="~/Home" class="btn btn-submit" style="background-color:chocolate" role="button">Powrót</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <h3>INFORMACJA</h3>
            <p>
                Uwaga! EnglishSchool jest fikcyjnym tworem powstałym w ramach projektu Inżynieria Produkcji Oprogramowania((Wyższa Szkołą Informatyki i Zarządzania w Rzeszowie).
            </p>
            <p>
                Jeśli znalazłeś się tutaj przypadkowo, nie podejmuj żadnych działań związanych z rejestracją lub logowaniem!.
                Wszystkie oferty zamieszczone na stronie mają charakter testowy i w rzeczywistości nie istnieją,
                mają jedynie stanowić materiał poglądowy w trakcie oceny projektu.
            </p>
            <p>
                Cały serwis od strony front-end'owej został stworzony m.in przy użyciu elementów darmowych szablonów dostępnych w sieci i ma charakter niekomercyjny.
                Jedynym przeznaczeniem projektu jest zaliczenie przedmiotu i za raz po zostanie on usunięty z sieci.
            </p>
            <p>
                Ponownie powtórzę! Jeśli znalazłeś się tutaj przypadkowo, nie podejmuj żadnych działań związanych z rejestracją lub logowaniem!.
            </p>
</div>
    </div>
</section><!--/#contact-->



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
