﻿@model ProjektKCK.ViewModels.CourseViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/backpage/admin/_LayoutManageCourses.cshtml";
}


<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 class="title">Edycja Kursu</h4>
            </div>
            <div class="content">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Język</label>
                                <input type="text" name="Language" class="form-control" placeholder="Język" value=@Model.Language>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Typ Kursu</label>
                                <input type="text" name="Type" class="form-control" placeholder="Typ Kursu" value=@Model.Type>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Stan Rekrutacji</label>
                                @Html.DropDownList("Recruitment", ViewBag.RecID as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Status Kursu</label>
                                @Html.DropDownList("Status", ViewBag.StatusID as SelectList, new { @class = "form-control", @disabled = "disabled" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Data Dodania</label>
                                <input type="datetime" disabled name="AddTime" class="form-control" placeholder="Data Dodania" value=@Model.AddTime>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Koszt Kursu</label>
                                <input type="text" name="Cost" class="form-control" placeholder="Koszt Kursu" value=@Model.Cost>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Ilość Miejsc</label>
                                <input type="number" name="Slots" class="form-control" placeholder="Ilość Miejsc" value=@Model.Slots >
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Prowadzący</label>
                                @Html.DropDownList("Teacher", ViewBag.TeacherID as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Opis Kursu</label>
                                <textarea rows="5" name ="Description" class="form-control" placeholder="Opis Kursu" value=@Model.Description>@Model.Description </textarea>
                            </div>
                        </div>
                    </div>

                    <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz Zmiany</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>
</div>
