﻿@model PagedList.IPagedList<ProjektKCK.ViewModels.UserManageViewModel>


@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/admin/_LayoutManageUsers.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Lista Użytkowników</h4>
                        <p class="category">By wybrać użytkownika oraz zmienić jego role, kliknij wybrany wiersz tabeli</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>@Html.ActionLink("Login", "ManageUsers", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Imie</th>
                        <th>Nazwisko</th>
                        <th>@Html.ActionLink("Email", "ManageUsers", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</th>

                        <th>Rola Użytkownika</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {

                                <tr onclick="window.document.location='EditUser/@item.Id'">
                                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Email )</td>
                                    <td>@Html.DisplayFor(modelItem => item.Role)</td>

                                

                                </tr>

                                }
                        </tbody>
                       
                    </table>
                </div>
            </div>

            <p>
                <a href="CreateCourse" class="btn btn-success btn-fill pull-right role="button">Tworzenie Nowego kursu</a>


                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ManageUsers",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </p>
        </div>
    </div>
</div>

