﻿@model ProjektKCK.Models.ActivityViewModel
@{
    ViewBag.Title = "AddActivity";
    Layout = "~/Views/Shared/backpage/teacher/_LayoutManageCourses.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="card">
            <div class="header">
                <h4 class="title">Dodawanie Zajęć @Model.CourseId</h4>
            </div>
            <div class="content">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Wybierz Dzień</label>
                                @Html.DropDownList("DateStartD", ViewBag.DateD as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Wybierz Miesiąc</label>
                                @Html.DropDownList("DateStartM", ViewBag.DateM as SelectList, new { @class = "form-control"})
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Wybierz Rok</label>
                                @Html.DropDownList("DateStartY", ViewBag.DateY as SelectList, new { @class = "form-control"})
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Wybierz Godzinę</label>
                                @Html.DropDownList("TimeStartH", ViewBag.TimeH as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Wybierz Minutę</label>
                                @Html.DropDownList("TimeStartM", ViewBag.TimeM as SelectList, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label>Czas Zajeć(min)</label>
                                <input type="number" name="Duration" class="form-control" placeholder="0" value=@Model.Duration>
                            </div>
                        </div>
                    </div>

                    <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                    <button type="submit" class="btn btn-success btn-fill pull-right">Dodaj!</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>
</div>

