﻿@model ProjektKCK.Models.MyCourseModel
@{
    ViewBag.Title = "EditCourseUser";
    Layout = "~/Views/Shared/backpage/teacher/_LayoutManageCourses.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">Wystawianie oceny dla @Model.UserDataModel.Name @Model.UserDataModel.Surname</h4>
                    <p class="category">Wybierz ocenę do wystawienia z listy rozwijanej i zatwierdź. Jesli chcesz zrezygnować z wystawienia oceny naciśnij przycisk "Powrót".</p>
                </div>
                <div class="content">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label>Wybierz ocenę do wystawienia</label>
                                    @Html.DropDownList("LastGrade", ViewBag.Grade as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Komentarz do oceny</label>
                                    <input type="text" name="LastGradeComment" class="form-control" placeholder="Komentarz do oceny" value=@Model.LastGradeComment>
                                </div>
                            </div>
                        </div>

                        <a href="EditCourseUser?id=@Model.Id" class="btn btn-danger btn-fill pull-left" role="button">Powrót</a>
                        <button type="submit" class="btn btn-info btn-fill pull-right">Dodaj Ocenę</button>
                        <div class="clearfix"></div>
                    </form>
                </div>



            </div>

        </div>

    </div>
</div>