﻿@model ProjektKCK.Models.MyCourseModel
@{
    ViewBag.Title = "EditCourseUser";
    Layout = "~/Views/Shared/backpage/teacher/_LayoutManageCourses.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                    <h4 class="title">Edycja uczestnika Kursu</h4>
                    <h5>Imie: @Model.UserDataModel.Name</h5>
                    <h5>Nazwisko: @Model.UserDataModel.Surname</h5>
                    <h5>Status Zaliczenia: @Model.ZalStat</h5>
                    <p class="category">Jesli chcesz mienić status zaliczenia obecnego kursatna, wybierz odpowiednią wartość z rozwijanej listy poniżej i zatwierdź.</p>
                </div>
                <div class="content">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    @Html.DropDownList("ZalStat", ViewBag.ZalStat as SelectList, new { @class = "form-control" })
                                </div>
                            </div> 
                            <div class="col-md-1">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Zatwierdź</button>
                            </div>
</div>
                    </form>
                    </div>
                <div class="header">
                    <p class="category">Tabela zawiera informacje na temat wszystkich ocen uzytkownika. Uwaga nie ma możliwości usunięcia oceny. Oceny mają charakter poglądowy i nie mają wpływu na ostateczną decyzję o zaliczeniu dla użytkownika!</p>
                </div>
                <div class="content">
                    <div class="row">

                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead>
                                <th>Ocena</th>
                                <th>Komentarz</th>
                                </thead>
                                <tbody>


                                    @foreach (var item in Model.Grades)
                                    {

                                        <tr>
                                            <td>@Html.DisplayFor(modelItem => item.Grade)</td>
                                            <td>@Html.DisplayFor(modelItem => item.Comment)</td>
                                        </tr>

                                    }
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <a href="EditCourse/@Model.CourseModel.Id" class="btn btn-danger btn-fill pull-left" role="button">Powrót</a>
                    <a href="EditCourseUserGrade?id=@Model.Id&id2=@Model.UserDataModel.Id" class="btn btn-info btn-fill pull-right" role="button">Dodaj Ocenę</a>
                    <div class="clearfix"></div>
                </div>

                </div>

        </div>

    </div>
</div>