﻿@model ProjektKCK.ViewModels.CourseViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/backpage/teacher/_LayoutManageCourses.cshtml";
}




<div class="container-fluid">
    <div class="panel-group" id="accordion">
        <div class="row">
            <div class="card">
                <div class="header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse1" class="title">Edycja Kursu</h4>
                    <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
                </div>
                <div class="content panel-collapse collapse" id="collapse1">
                    <form method="post">
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Język</label>
                                    <input type="text" name="Language" disabled class="form-control" placeholder="Język" value=@Model.Language>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Typ Kursu</label>
                                    <input type="text" name="Type" class="form-control" placeholder="Typ Kursu" value=@Model.Type>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Stan Rekrutacji</label>
                                    @Html.DropDownList("Recruitment", ViewBag.RecID as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Status Kursu</label>
                                    @Html.DropDownList("Status", ViewBag.StatusID as SelectList, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Data Dodania</label>
                                    <input type="datetime" disabled name="AddTime" class="form-control" placeholder="Data Dodania" value=@Model.AddTime>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Koszt Kursu</label>
                                    <input type="text" disabled name="Cost" class="form-control" placeholder="Koszt Kursu" value=@Model.Cost>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Ilość Miejsc</label>
                                    <input type="number" name="Slots" class="form-control" placeholder="Ilość Miejsc" value=@Model.Slots>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label>Prowadzący</label>
                                    @Html.DropDownList("Teacher", ViewBag.TeacherID as SelectList, new { @class = "form-control", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Opis Kursu</label>
                                    <textarea rows="5" name="Description" class="form-control" placeholder="Opis Kursu" value=@Model.Description>@Model.Description </textarea>
                                </div>
                            </div>
                        </div>

                        <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                        <button type="submit" class="btn btn-info btn-fill pull-right">Zapisz Zmiany</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse2" class="title">Zapisani Kursanci</h4>
                    <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
                </div>
                <div class="content panel-collapse collapse" id="collapse2">
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">
                            <thead>
                            <th>Imie</th>
                            <th>Nazwisko</th>
                            <th>Status Zaliczenia</th>
                            <th>Oceny</th>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.CourseList)
                                {

                                    <tr onclick="window.document.location='../EditCourseUser?id=@item.Id'">
                                        <td> @Html.DisplayFor(modelItem => item.UserDataModel.Name)</td>
                                        <td>@Html.DisplayFor(modelItem => item.UserDataModel.Surname)</td>
                                        <td>@Html.DisplayFor(modelItem => item.ZalStat)</td>
                                        <td>
                                        @Html.Label(" | ")
                                        @foreach (var _item in item.Grades)
                                        {
                                        @Html.DisplayFor(modelItem => _item.Grade)
                                        @Html.Label(" | ")
                                        }</td>

                                    </tr>

                                }
                            </tbody>

                        </table>

                    </div>
                </div>
            </div>
            <div class="card">
                <div class="header">
                    <h4 data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="title">Plan zajęć</h4>
                    <p class="category">kliknij by przejsć do edycji lub zwinąć okno</p>
                </div>
                <div class="content panel-collapse collapse" id="collapse3">
                    <div class="content table-responsive table-full-width">

                        <table class="table table-hover table-striped">
                            <thead>
                            <th>ID</th>
                            <th>Data Zajęć</th>
                            <th>Godzina</th>
                            <th>Czas trwania</th>
                            </thead>
                            <tbody>


                                @foreach (var item in Model.ActivitiesList)
                                {

                                    <tr onclick="window.document.location='EditCourse/@item.Id'">
                                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.DateStartD)/
                                            @Html.DisplayFor(modelItem => item.DateStartM)/
                                            @Html.DisplayFor(modelItem => item.DateStartY)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TimeStartH):@Html.DisplayFor(modelItem => item.TimeStartM)
                                        </td>
                                        <td>@Html.DisplayFor(modelItem => item.Duration) min</td>

                                    </tr>

                                }
                            </tbody>

                        </table>

                    </div>
                    <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót do Listy</a>
                    <a href="../AddActivity/@Model.Id" class="btn btn-success btn-fill pull-right role="button">Dodaj zajęcia</a>
                    <div class="clearfix"></div>
                </div>

            </div>
        </div>
    </div>
 </div>