﻿@model PagedList.IPagedList<ProjektKCK.Models.CourseModel>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />


@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/teacher/_LayoutManageCourses.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Ofera kursów</h4>
                        <p class="category">Tabela zawiera informacje na temat wszystkich kursów.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>@Html.ActionLink("Język", "ManageCourses", new { sortOrder = ViewBag.NameSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Typ Kursu</th>
                        <th>@Html.ActionLink("Data dodania", "ManageCourses", new { sortOrder = ViewBag.DateSortParm, currentFilter = ViewBag.CurrentFilter })</th>
                        <th>Cena kursu</th>
                        <th>Zajęte miejsca</th>
                        <th>Stan Rekrutacji</th>
                        <th>Status Kursu</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {

                                <tr onclick="window.document.location='EditCourse/@item.Id'">
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Language)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Type)</td>
                                    <td>@Html.DisplayFor(modelItem => item.AddTime)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Cost) PLN</td>
                                    <td>@item.CourseList.Count() / @item.Slots</td>

                                    @if (item.Recruitment)
                                        {
                                        <td style="color:green">Otwarta</td>
                                        }
                                        else
                                        {
                                        <td style="color:red">Zamknięta</td>}
                                    @if (item.Status)
                                    {
                                        <td style="color:green">Trwa</td>
                                    }
                                    else
                                    {
                                        <td style="color:red">Zakonczony</td>}

                                </tr>

                                }
                        </tbody>
                       
                    </table>
                </div>
            </div>

            <p>
                Strona @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) z @Model.PageCount

                @Html.PagedListPager(Model, page => Url.Action("ManageCourses",
            new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
            </p>
        </div>
    </div>
</div>

