﻿@model ProjektKCK.ViewModels.AddPaymentViewModel

@{
    ViewBag.Title = "CreateCourse";
    Layout = "~/Views/Shared/backpage/accountant/_LayoutAddPayment.cshtml";
}


<div class="container-fluid">
    <div class="row">
        @if (@Model.arg == 6)
            {
            <div class="alert alert-success">
                <strong>Gratulacje!</strong> Wpłata została zaksięgowana!.
            </div>
        }
        @if (@Model.arg == 1)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że klucz transakcji jest nieprawidłowy!.
            </div>
        }
        @if (@Model.arg == 2)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że wielkość wpłaty jest nieprawidłowa!.
            </div>
        }
        @if (@Model.arg == 3)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że dane osobowe są nieprawidłowe!.
            </div>
        }
        @if (@Model.arg == 4)
            {
            <div class="alert alert-danger">
                <strong>Niestety!</strong> Wygląda na to, że wprowadzone przez ciebie dane nie są poprawne, sprawdź i spróbuj ponownie!.
            </div>
        }
        @if (@Model.arg == 5)
            {
            <div class="alert alert-info">
                <strong>informacja!</strong> Wpłata została już poprawnie zaksięgowana wcześniej!.
            </div>
        }
        <div class="card">
            <div class="header">
                <h4 class="title">Księgowanie Płatności</h4>
                <p></p>
            </div>
            <div class="content">
                <form method="post">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Kod Transakcji</label>
                                <input type="text" name="PayKey" class="form-control" placeholder="identyfikator wpłaty" value=@Model.PayKey>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Wielkość Wpłaty</label>
                                <input type="text" name="Money" class="form-control" placeholder="wielkosc wpłaty" value=@Model.Money>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Imie</label>
                                <input type="text" name="Name" class="form-control" placeholder="Imie wpłacającego" value=@Model.Name>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Nazwisko</label>
                                <input type="text" name="Surname" class="form-control" placeholder="Nazwisko wpłacającego" value=@Model.Surname>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-info btn-fill pull-right">Księguj Wpłatę</button>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>

    </div>
</div>
