﻿@model List<ProjektKCK.ViewModels.CourseStatViewModel>
@{
    ViewBag.Title = "ManageCourses";
    Layout = "~/Views/Shared/backpage/accountant/_LayoutStatus.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="card">
                <div class="header">
                        <h4 class="title">Ofera kursów</h4>
                        <p class="category">Tabela zawiera informacje na temat wszystkich kursantów oraz statusu dokonanych przez nich wpłat.</p>
                </div>

                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped">
                        <thead>
                        <th>ID</th>
                        <th>Imie</th>
                        <th>Nazkiwsko</th>
                        <th>Status Wpłaty</th>
                        </thead>
                        <tbody>


                            @foreach (var item in Model)
                                {

                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                    <td>@Html.DisplayFor(modelItem => item.Surname)</td>
                                    <td>
                                        @if (item.Payed) {@Html.Label("ZAPŁACONO")} else {@Html.Label("NIE OPŁACONO!")}
                                    </td>


                                </tr>

                                }
                        </tbody>
                       
                    </table>

                </div>
            </div>
            <a href="../ManageCourses" class="btn btn-danger btn-fill pull-left" role="button">Powrót</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

