﻿@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_LayoutMainPage.cshtml";
}

<div class="preloader"> <i class="fa fa-circle-o-notch fa-spin"></i></div>
<!--/.preloader-->
<header id="home">
    <div id="home-slider" class="carousel slide carousel-fade" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image: url(../../Content/frontpage/images/slider/1.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Witaj w <span>EnglishSchool</span></h1>
                    <p class="animated fadeInRightBig">Profesionalna kadra - Certyfikowane kursy językowe - Najwyższa jakość kształcenia</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="/Account/Register">Logowanie | Rejestracja</a>
                </div>
            </div>
            <div class="item" style="background-image: url(../../Content/frontpage/images/slider/2.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Najlepsza kursy z <span>EnglishSchool</span></h1>
                    <p class="animated fadeInRightBig">Profesionalna kadra - Certyfikowane kursy językowe - Najwyższa jakość kształcenia</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="/Account/Register">Logowanie | Rejestracja</a>
                </div>
            </div>
            <div class="item" style="background-image: url(../../Content/frontpage/images/slider/3.jpg)">
                <div class="caption">
                    <h1 class="animated fadeInLeftBig">Zostań profesionalistą z <span>EnglishSchool</span></h1>
                    <p class="animated fadeInRightBig">Profesionalna kadra - Certyfikowane kursy językowe - Najwyższa jakość kształcenia</p>
                    <a data-scroll class="btn btn-start animated fadeInUpBig" href="/Account/Register">Logowanie | Rejestracja</a>
                </div>
            </div>
        </div>
        <a class="left-control" href="#home-slider" data-slide="prev"><i class="fa fa-angle-left"></i></a>
        <a class="right-control" href="#home-slider" data-slide="next"><i class="fa fa-angle-right"></i></a>
        <a id="tohash" href="#team"><i class="fa fa-angle-down"></i></a>
    </div><!--/#home-slider-->
</header><!--/#home-->

<section id="team">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>Nasi Prowadzący</h2>
                <p>W naszym zespole posiadamy wielu wybitnych i wykwalifikowanych specialistów językowych. Przemawia za nami doświadczenie i międzynarodowe szkolenia.</p>
            </div>
        </div>
        <div class="team-members">
            <div class="row">
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <div class="member-image">
                            <img class="img-responsive" src="../../Content/frontpage/images/team/1.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3>mgr Anna Kowalska</h3>
                            <h4>Specialista j.Angielski</h4>
                            <p>Stawia na jakość, jej cecha to świetny kontakt z kursantami</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <div class="member-image">
                            <img class="img-responsive" src="../../Content/frontpage/images/team/2.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3>dr Janusz Nowakowski</h3>
                            <h4>Specialista j.Hiszpański/j.Portugalski</h4>
                            <p>Wieloletnia praca na Uniwersytetach w Hiszpani pozwoliła mu świetnie poznać tamtejszy jezyk</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <div class="member-image">
                            <img class="img-responsive" src="../../Content/frontpage/images/team/3.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3>mgr Ireneusz Nowak</h3>
                            <h4>Specialista j.Niemiecki</h4>
                            <p>Studiował na Uniwersytecie W Hamburgu, Berlinie. Laureat kilkunastu konkursów językowych.</p>
                        </div>

                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="team-member wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <div class="member-image">
                            <img class="img-responsive" src="../../Content/frontpage/images/team/4.jpg" alt="">
                        </div>
                        <div class="member-info">
                            <h3>mgr Maria Bond</h3>
                            <h4>Specialista j.Francuskiego</h4>
                            <p>Urodzona we Francji, niezwykle pozytywna osoba, wielokrotnie doceniana przez swoich kursantów</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#team-->



<section id="about-us" class="parallax">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="about-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <h2>Dlaczego My?</h2>
                    <p>Najwyższe stnadardy kształcenia oraz gwarancja zadowolenia to nasze cechy rozpoznawcze, zawsze dbamy o to by każdy pojedynczy klient wychodził z naszych lekcji z uśmiechem na ustach. </p>
                    <p>Nasze standardy nauczania są zgodne z najwyższymi europejskimi normami. Posiadamy nowoczesną bazę budynków w których prowadzimy zajęcia. Zawsze liczymy się ze zdaniem kursantów oraz staramy się dopasować do każdej pojedynczej osoby.</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="our-skills wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <p class="lead">Zadowolonych z jakości kursów</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="90">90%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="400ms">
                        <p class="lead">Zadowolenie z warunków na zajęciach</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="94">94%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <p class="lead">Zdawalność z ceny kursów</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="98">98%</div>
                        </div>
                    </div>
                    <div class="single-skill wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <p class="lead">Zdawalność kursów</p>
                        <div class="progress">
                            <div class="progress-bar progress-bar-primary six-sec-ease-in-out" role="progressbar" aria-valuetransitiongoal="85">85%</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="features" class="parallax">
            <div class="container">
                <div class="row count">
                    <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <i class="fa fa-user"></i>
                        <h3 class="timer">4000</h3>
                        <p>Klientów</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <i class="fa fa-desktop"></i>
                        <h3>24/7</h3>
                        <p>Dostęp do strony</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="700ms">
                        <i class="fa fa-comment-o"></i>
                        <h3 class="timer">10</h3>
                        <p>Zrealizowanych kursów</p>
                    </div>
                    <div class="col-sm-3 col-xs-6 wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="900ms">
                        <i class="fa fa-trophy "></i>
                        <h3 class="timer">8</h3>
                        <p>Nagród i wyrożnień</p>
                    </div>
                </div>
            </div>
        </div><!--/#features-->
    </div>
</section><!--/#about-us-->
<section id="pricing">
    <div class="container">
        <div class="row">
            <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1200ms" data-wow-delay="300ms">
                <h2>Oferta kursów</h2>
                <p>Oferujemy wiele zróżnicowanych form zajęć obejmujących szeroki zakres językowy. Poniżej prezentujemy najbardziej popularne kursy. Chcesz zapoznać się z całą oferta? Zarejestruj się! To nic nie kosztuje.</p>
            </div>
        </div>
        <div class="pricing-table">
            <div class="row">
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="300ms">
                        <h3>Angielski|Podstawa</h3>
                        <div class="price">
                            300 PLN
                        </div>
                        <ul>
                            <li>10 spotkań</li>
                            <li>4 osób w grupie</li>
                            <li>Lekcje 90 minutowe</li>
                            <li>Zaliczenie pisemne</li>
                        </ul>
                        <a href="/Account/Register" class="btn btn-lg btn-primary">Rejestracja</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="500ms">
                        <h3>Angielski|Podstawa</h3>
                        <div class="price">
                            500 PLN
                        </div>
                        <ul>
                            <li>10 spotkań</li>
                            <li>Zajęcia indywidualne</li>
                            <li>Lekcje 60 minutowe</li>
                            <li>Zaliczenie ustne</li>
                        </ul>
                        <a href="/Account/Register" class="btn btn-lg btn-primary">Rejestracja</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table featured wow flipInY" data-wow-duration="1000ms" data-wow-delay="800ms">
                        <h3>Angielski|Rozszerzony</h3>
                        <div class="price">
                            600 PLN
                        </div>
                        <ul>
                            <li>10 spotkań</li>
                            <li>4 osób w grupie</li>
                            <li>Lekcje 90 minutowe</li>
                            <li>Zaliczenie pisemne</li>
                        </ul>
                        <a href="/Account/Register" class="btn btn-lg btn-primary">Rejestracja</a>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="single-table wow flipInY" data-wow-duration="1000ms" data-wow-delay="1100ms">
                        <h3>Niemiecki|Podstawa</h3>
                        <div class="price">
                            400 PLN
                        </div>
                        <ul>
                            <li>10 spotkań</li>
                            <li>4 osób w grupie</li>
                            <li>Lekcje 90 minutowe</li>
                            <li>Zaliczenie pisemne</li>
                        </ul>
                        <a href="/Account/Register" class="btn btn-lg btn-primary">Rejestracja</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#pricing-->
<section id="contact">
    <div id="contact-us" class="parallax">
        <div class="container">
            <div class="row">
                <div class="heading text-center col-sm-8 col-sm-offset-2 wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">

                    <h2>Skontaktuj się z Nami!</h2>
                    <p>Jeśli masz jakiekolwiek pytania lub wątpliwości albo po prostu chcesz dowiedzieć się o Nas więcej skorzystaj z poniższego formularza kontaktowego, zadzwoń lub wyślij e-mail. Skontaktujemy się z Tobą!</p>
                </div>
            </div>
            <div class="contact-form wow fadeIn" data-wow-duration="1000ms" data-wow-delay="600ms">
                <div class="row">
                    <div class="col-sm-6">
                        <form id="main-contact-form" name="contact-form" method="post" action="#">
                            Pamiętaj, że możesz założyć całkowice darmowe konto, które pozwoli Ci uzyskań informację na temat całej oferty kursów.
                            Dołączenie do kursu nie jest jednoznaczne z przymusem dokonania wpłaty! Zawsze możesz zrezygnować!
                            <div class="form-group">
                                <a href="/Account/Register" class="btn btn-submit btn-fill" role="button">Rejestracja!</a>
                            </div>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-info wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="300ms">
                            <ul class="address">
                                <li><i class="fa fa-map-marker"></i> <span> Adres:</span> Rzeszow, Rejtana 20 </li>
                                <li><i class="fa fa-phone"></i> <span> Telefon:</span> +123 123 123  </li>
                                <li><i class="fa fa-envelope"></i> <span> Email:</span><a href="mailto:someone@yoursite.com"> email@email.com</a></li>
                                <li><i class="fa fa-globe"></i> <span> Strona:</span> <a href="#">www.projektkcktest.azurewebsites.net.com</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/#contact-->
<footer id="footer">
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <p>&copy; 2016 EnglishSchool.</p>
                </div>

            </div>
        </div>
    </div>
</footer>